# Core functionality - changes here should be rare!
/src/app.py                   @danqiu-dev
/src/backend/database.py      @danqiu-dev
/src/backend/routers/auth.py  @danqiu-dev

# The frontend will need refactored soon to be more object oriented.
/src/static/   @danqiu-dev
